@import "./../styles/global";

.detailsWrapper {
  .details {
    width: 100%;
    .detailsBanner {
      position: relative;
      height: 400px;
      width: 100%;
      overflow: hidden;
      @include mobile() {
        height: 300px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .detailsHead {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        h2 {
          font-size: $heading-font-size;
          height: 100%;
          width: 50%;
          position: absolute;
          transform: translate(10%, 50%);
          color: #fff;
          @include mobile() {
            font-size: $heading-mobile-font-size;
            width: 100%;
            text-align: center;
            transform: translate(0%, 50%);
          }
        }
      }
    }
  }
}
