@import "./../styles/global";
.nav {
  background: $nav;
  width: 100%;
  height: 70px;
  box-shadow: -3px 0px 10px 0px #888;
  position: fixed;
  z-index: 1000;
  .navbar {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;

    .logo {
      width: 120px;
      img {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }

    .navMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $nav;
      transition: 350ms ease-in-out;
      @include mobile() {
        height: 100vh;
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        right: -550px;
        top: 0;
        width: 70%;
        box-shadow: -3px 0px 10px 0px #888;
        padding: 15px;
        &.navOpen {
          right: 0;
        }
      }
      .navList {
        display: flex;
        list-style-type: none;
        margin-right: 50px;
        @include mobile() {
          width: 100%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 10px;
        }

        .navItem {
          padding: 10px;
          cursor: pointer;
          font-size: $link-font-size;

          &.navBtn {
            background: green;
            border-radius: 35px;
            padding: 10px 15px;
            color: #fff;
          }
        }
      }
      .navToggle {
        display: none;
        position: absolute;
        right: 28px;
        top: 20px;
        @include mobile() {
          display: block;
        }
        i {
          font-size: 24px;
          user-select: none;
        }
      }
    }
    .navSearch {
      @include mobile() {
        width: 100%;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="text"] {
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
        }
        button {
          border: none;
          background: none;
          outline: none;
          padding: 5px 10px;
          cursor: pointer;
          i {
            font-size: 24px;
          }
        }
      }
    }
    .navToggle {
      display: none;
      @include mobile() {
        display: block;
      }
      i {
        font-size: 24px;
        user-select: none;
      }
    }
  }
}
