@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* body,
html {
  overflow: hidden;
} */

a {
  color: inherit;
  text-decoration: none;
}
