@import "./mixins";

$nav: #fff;
$button-primary: blue;

$link-font-size: 17px;

$main-padding: 70px;
$main-mobile-padding: 20px;

$primary-color: #144aa2;
$secondary-color: #ffffff;
$banner-heading-font-size: 60px;
$banner-heading-mobile-font-size: 40px;
$heading-font-size: 50px;
$heading-mobile-font-size: 35px;

$p-font-size: 18px;
$p-mobile-font-size: 15px;
